/* #02111B, #CFD186 ou #C8AD55, #ED1C24 ou #CC2936, #5D737E, #7D1D3F */

/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
}
body {
  background-color: #02111b;
  height: 100vh;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 1.1em;
  font-weight: 500;
  background-color: #c8ad55;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  transition: ease 0.4s;
}
h2.titulo {
  color: white;
  font-size: 3rem;
  text-align: center;
}
h2.titulo span {
  color: #c8ad55;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px #c8ad55;
}
/* Estilo cabeçalho */
header {
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

nav a {
  color: rgba(112, 111, 111, 0.988);
  text-decoration: none;
  display: inline-block;
  transition: ease 0.3s;
  position: relative;
}
nav a:hover {
  color: white;
  transform: scale(1.2);
}
nav a::after {
  border-radius: 5px;
  content: " ";
  width: 0%;
  height: 4px;
  background-color: #c8ad55;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s ease-in-out;
}
nav a:hover::after {
  width: 100%;
}
.logo a {
  display: inline-block;
  /* background-color: #c8ad55; */
  border-radius: 20px;
  padding: 0px 10px;
  list-style-type: none;
  font-style: italic;
  color: #c8ad55;
  font-size: 3em;
  font-weight: 600;
  text-decoration: none;
}
/* Estilo do topo do site */

section.topo-do-site {
  margin-top: 80px;

  height: 20vh;
  padding: 40px 4%;
}

.txt-topo-site {
  padding: 20px;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  line-height: 40px;
  background-color: #7d1d3f;
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: space-between;
}
.topo-do-site h1 {
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  margin-top: 50px;
}
.topo-do-site .txt-topo-site h1 span {
  color: #c8ad55;
}
.topo-do-site .txt-topo-site h3 {
  padding-left: 2px;
  font-size: 2em;
  color: #c8ad55;
}
#img-topo-site {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  width: 300px;
  background-color: #c8ad55;
  border-radius: 20px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* ESTILO DAS TECNOLOGIAS */

.tecnologias {
  margin-top: 25rem;
  padding: 40px 4%;
}
.tecnologias .interface .flex {
  gap: 4rem;
}
.tecnologias .tecnologias-box {
  color: white;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: 0.2s;
}
.tecnologias .tecnologias-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffffdc;
}
i {
  font-size: 5rem;
  color: #c8ad55;
}
.tecnologias .tecnologias-box h3 {
  font-size: 1.5rem;
  margin: 15px 0;
}

/* ESTILO SEÇÃO SOBRE */
#img-sobre {
  width: 300px;
  background-color: #c8ad55;
  border-radius: 20px;
}
.sobre {
  margin-top: 7rem;
  padding: 40px 4%;
}
.sobre .flex {
  align-items: center;
  gap: 60px;
}
.txt-sobre {
  color: white;
}
.txt-sobre h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.txt-sobre span {
  color: #c8ad55;
  display: block;
}
.txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}
.btn-redes-sociais button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #c8ad55;
  cursor: pointer;
  margin: 20px;
  transition: ease 0.4s;
}
.btn-redes-sociais {
  display: flex;
  align-items: center;
}
.btn-redes-sociais button i {
  color: #02111b;
  font-size: 1.7rem;
}

/* ESTILO PORTFÓLIO */

.portfolio {
  margin-top: 4rem;
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px rgba(112, 111, 111, 0.732);
}
.portfolio .flex {
  padding: 30px;
  gap: 3rem;
  align-items: center;
  height: 500px;
  justify-content: space-around;
}
.interface h2 {
  margin-top: 2rem;
}

.img-portfolio {
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  height: 75%;
  background-color: #c8ad55;
  background-position: 50% 50%;
  transition: all 1s;
  position: relative;
}
.img-portfolio:hover {
  background-position: 80% 80%;
}
#projeto1 {
  width: 100%;
  background-image: url(images/screenshot-127.0.0.1_5501-2023.11.09-10_20_36.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#projeto2 {
  width: 100%;
  background-image: url(images/screenshot-127.0.0.1_5501-2023.11.09-10_24_43.png);
  background-size: cover;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  background-color: #02111bd6;
  opacity: 0;
  transition: 0.5s;
}
.overlay:hover {
  opacity: 1;
}
