/* , #CFD186 ou , #ED1C24 ou #CC2936, #5D737E,  */
:root {
  --bgColor: #02111b;
  --detailsColor: #c8ad55;
  --detailsColor2: #7d1d3f;
}

/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
  height: 100vh;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 1.1em;
  font-weight: 500;
  background-color: var(--detailsColor);
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  transition: ease 0.4s;
}
h2.titulo {
  color: white;
  font-size: 3rem;
  text-align: center;
}
h2.titulo span {
  color: var(--detailsColor);
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px var(--detailsColor);
}
/* Estilo cabeçalho */
header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--bgColor);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.429);
  width: 100%;
  padding: 10px 4%;
}

header > .interface {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

nav a {
  color: rgba(112, 111, 111, 0.988);
  text-decoration: none;
  display: inline-block;
  transition: ease 0.3s;
  position: relative;
}
nav a:hover {
  color: white;
  transform: scale(1.2);
}
nav a::after {
  border-radius: 5px;
  content: " ";
  width: 0%;
  height: 4px;
  background-color: var(--detailsColor);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.4s ease-in-out;
}
nav a:hover::after {
  width: 100%;
}
.logo a {
  display: inline-block;
  border-radius: 20px;
  padding: 0px 10px;
  list-style-type: none;
  font-style: italic;
  color: var(--detailsColor);
  font-size: 3em;
  font-weight: 600;
  text-decoration: none;
}

/* Estilo do topo do site */

section.topo-do-site {
  margin-top: 12rem;
  padding: 40px 4%;
}

.txt-topo-site {
  padding: 20px;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  line-height: 40px;
  background-color: var(--detailsColor2);
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.topo-do-site h1 {
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  margin-top: 50px;
}
.topo-do-site .txt-topo-site h1 span {
  color: var(--detailsColor);
}
.topo-do-site .txt-topo-site h3 {
  padding-left: 2px;
  font-size: 2em;
  color: var(--detailsColor);
}
#img-topo-site {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  width: 300px;
  background-color: var(--detailsColor);
  border-radius: 20px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* ESTILO DAS TECNOLOGIAS */

.tecnologias {
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  padding: 40px 4%;
}

.tecnologias .interface .flex {
  padding: 30px;
  margin-top: 5rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.tecnologias .tecnologias-box {
  color: white;
  padding: 40px;
  border-radius: 20px;

  transition: 0.2s;
}
.tecnologias .tecnologias-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffffdc;
}
i {
  font-size: 5rem;
  color: var(--detailsColor);
}
.tecnologias .tecnologias-box h3 {
  font-size: 1.5rem;
  margin: 15px 0;
}

/* ESTILO SEÇÃO SOBRE */
.sobre {
  margin-top: 6rem;
  padding: 40px 4%;
}
.sobre .interface .flex .img-estilo-geral {
  display: flex;
  align-items: center;
}
#img-sobre {
  width: 300px;
  background-color: var(--detailsColor);
  border-radius: 20px;
}
.sobre .flex {
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 60px;
}
.txt-sobre {
  color: white;
}
.txt-sobre h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.txt-sobre span {
  color: var(--detailsColor);
  display: block;
}
.txt-sobre p {
  margin: 20px 0;
}
.txt-sobre ul {
  list-style-position: inside;
}
.txt-sobre ul li {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.btn-redes-sociais button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: var(--detailsColor);
  cursor: pointer;
  margin: 20px;
  transition: ease 0.4s;
}
.btn-redes-sociais {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-redes-sociais button i {
  color: #02111b;
  font-size: 1.7rem;
}

/* ESTILO PORTFÓLIO */

.portfolio {
  margin-top: 6rem;
  padding: 40px 4%;
  /* box-shadow: 0 0 40px 10px rgba(112, 111, 111, 0.732); */
}
.portfolio .flex {
  padding: 30px;
  gap: 3rem;
  align-items: center;
  height: 500px;
  justify-content: space-around;
}
.portfolio .interface h2 {
  margin-top: 2rem;
}

.img-portfolio {
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  height: 75%;
  background-color: var(--detailsColor);
  background-position: 50% 50%;
  transition: all 1s;
  position: relative;
}
.img-portfolio:hover {
  background-position: 80% 80%;
}
#projeto1 {
  width: 100%;
  background-image: url(images/screenshot-127.0.0.1_5501-2023.11.09-10_20_36.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#projeto2 {
  width: 100%;
  background-image: url(images/screenshot-127.0.0.1_5501-2023.11.09-10_24_43.png);
  background-size: cover;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  background-color: #02111bd6;
  opacity: 0;
  transition: 0.5s;
}
.overlay:hover {
  opacity: 1;
}

/* ESTILO FOOTER */

footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.202);
}
footer .flex {
  justify-content: space-between;
  align-items: center;
}
footer .btn-redes-sociais i {
  font-size: 1.3rem;
}
footer .btn-redes-sociais button {
  width: 50px;
  height: 50px;
}

.linha-footer {
  padding: 30px;
}
.linha-footer .borda {
  padding: 30px 0px;
}

.linha-footer p i {
  color: var(--detailsColor);
  font-size: 22px;
  padding: 0px 10px;
}
.linha-footer p a {
  color: #fff;
  text-decoration: none;
}
.linha-footer p a:hover {
  color: var(--detailsColor);
}
.borda {
  border-top: 2px solid var(--detailsColor);
  margin-top: 22px;
}
.borda p {
  display: flex;
  align-items: center;
}

/* MEDIA QUERY */

@media screen and (max-width: 1190px) {
  /*topo do site */
  .menu-desktop {
    display: none;
  }
  .btn-contato {
    display: none;
  }
  section.topo-do-site {
    margin-top: 20px;
    padding: 40px 8%;
  }

  .flex {
    flex-direction: column;
  }

  .txt-topo-site {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 100%;
    line-height: 60px;
  }

  .topo-do-site h1 {
    font-size: 3em;
    margin-top: 20px;
  }

  .topo-do-site .txt-topo-site h3 {
    padding-left: 2px;
    font-size: 1.8em;
  }
  #img-topo-site {
    animation: none;
    width: 100%;
    max-width: 360px;
    margin-top: 50px;
  }

  /* ESTILO DAS TECNOLOGIAS */

  .tecnologias {
    margin-top: 5rem;
    padding: 40px 4%;
  }
  .tecnologias .interface .flex {
    gap: 1rem;
  }
  .tecnologias-box {
    text-align: center;
  }
  .tecnologias-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffffdc;
  }
  .tecnologias-box:last-child {
    margin-bottom: -3.5rem;
  }

  .tecnologias .tecnologias-box h3 {
    font-size: 1.8rem;
  }
  .flex {
    align-items: center;
  }
  .tecnologias p {
    font-size: 1.2rem;
  }

  /* ESTILO SEÇÃO SOBRE */
  #img-sobre {
    margin-top: 2.5rem;
    max-width: 360px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.598);
    margin-bottom: -4rem;
  }
  .sobre {
    background-color: #5d737e;
  }
  .sobre .flex {
    text-align: center;
  }

  .txt-sobre h2 {
    background-color: #02111b;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 3rem;
  }
  .txt-sobre span {
    font-size: 2rem;
    color: #c8ad55;
    display: block;
  }
  .txt-sobre p {
    font-size: 1.5rem;
    margin: 20px 4%;
  }
  .btn-redes-sociais {
    margin-top: 3rem;
    justify-content: center;
  }
  .btn-redes-sociais button {
    background-color: #02111b;
    width: 60px;
    height: 60px;
  }

  .btn-redes-sociais button i {
    color: #c8ad55;
  }

  /* ESTILO PORTFÓLIO */

  .portfolio {
    margin-top: 0;
  }
  .portfolio .flex {
    padding: 30px;
  }
  .portfolio .interface h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  /* ESTILO FOOTER */

  footer .logo {
    display: none;
  }
  footer {
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.202);
  }
  footer .btn-redes-sociais {
    margin-top: 0;
  }

  footer .btn-redes-sociais i {
    color: #02111b;
    font-size: 1.3rem;
  }
  footer .btn-redes-sociais button {
    background-color: #c8ad55;
  }

  .linha-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .linha-footer p i {
    color: #c8ad55;
    font-size: 22px;
  }
  .linha-footer p a {
    color: #fff;
    text-decoration: none;
  }
  .linha-footer p a:hover {
    color: #c8ad55;
  }
  .borda {
    border-top: 2px solid #c8ad55;
    margin-top: 22px;
  }
  .borda p {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
